.network {
  font-size: 16px;
}

.pools-table-title {
  font-size: 30px;
}

.pools-table-header {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.pools-table-header:not(:last-child) {
  margin-bottom: 20px;
}

.search {
  width: 50%;
	display: flex;
	border: 1px solid #fff;
	border-radius: 8px;
}

.search-input, .search-button {
  border: 0;
  padding: 10px;
}

.search-button {
  border-left: 1px solid #fff;
  background-color: #933DC9;
}

.network-icon {
  width: 30px;
}

.buy-royalty-button {
  background-color: #f7e1fc;
  border: none;
  color: #c556db;
  border-radius: 5px;
  padding: 5px 10px; /* Увеличиваем отступы */
  font-weight: bold; /* Делаем текст жирным */
  font-size: 14px;
  cursor: pointer;
}

.grind-pool-button {
  background-color: #3d2c43;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px; /* Увеличиваем отступы */
  font-size: 16px; /* Увеличиваем размер текста */
  font-weight: bold; /* Делаем текст жирным */
  cursor: pointer;
  min-width: 90px; /* Устанавливаем минимальную ширину */
  text-align: center; /* Центрируем текст */
}

.view-pool-button {
  background-color: #f5c7fc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px; /* Увеличиваем отступы */
  font-size: 16px; /* Увеличиваем размер текста */
  font-weight: bold; /* Делаем текст жирным */
  cursor: pointer;
  min-width: 90px; /* Устанавливаем минимальную ширину */
  text-align: center; /* Центрируем текст */
}

.pagination {
  display: flex; /* Горизонтальное выравнивание кнопок */
  align-items: center;
  gap: 5px; /* Отступ между кнопками */
}

.pagination button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.pagination .active-page {
  font-weight: bold;
  color: #c556db;
}