.greth {
  padding: 50px 0;
}

.greth-title:not(:last-child) {
  margin-bottom: 50px;
}

.greth-forms {
  display: flex;
  gap: 30px;
}

.greth-form-title {
  font-size: 30px;
}

.greth-form-title:not(:last-child) {
  margin-bottom: 20px;
}