.main-container {
  display: flex;
  max-width: 80%;
  margin: auto;
  border-radius: 12px;
  padding: 10px 0 30px;
}

.dashboard-content {
  flex-direction: column;
}

.main-container-tab {
  min-width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
  
.main-container-left {
  flex: 1;
}

.main-container-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.pools-table-wrapper {
  display: flex;
  max-width: 100%;
}