.main-container {
  display: flex;
  width: 80%;
  margin-top: 30px;
  background: linear-gradient(to right, #fff 0%, #f9f4f6 100%);
  border-radius: 12px;
  padding: 10px 0 30px;
}
.main-container-tab {
  min-width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
  
.main-container-left {
  flex: 1;
}

.main-container-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.pools-table-wrapper {
  display: flex;
  width: 80%;
}