.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  background-color: #933DC9;
  color: white;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.chat-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  border-bottom: 1px solid #fff;
}

.close-chat {
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  transition: color 0.3s ease;
}

.chat-window {
  position: fixed;
  bottom: 120px;
  right: 20px;
  width: 400px;
  z-index: 100;
  height: 400px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0); /* Плавно переміщується до потрібного місця */
    opacity: 1;
  }
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
}

.message {
  margin-bottom: 16px;
}

.message.user {
  text-align: right;
}

.message.assistant {
  text-align: left;
}

.message-content {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
}

.message.user .message-content {
  background-color: #933DC9;
  color: #fff;
}

.message.assistant .message-content {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* Стилі для індикатора друку */
.typing-indicator {
  text-align: left;
}

.typing-indicator span {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #000;
}

.chat-form {
  border-top: 1px solid #ccc;
  display: flex;
}

.chat-input {
  font-size: 20px;
  flex-grow: 1;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.chat-submit {
  font-size: 16px;
  padding: 15px 30px;
  background-color: #933DC9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-submit:hover {
  background-color: #0056b3;
}

/* Анімація для приховування чату */
@keyframes slideOut {
  to {
    transform: translateX(100%); /* Переміщається за межі екрана */
    opacity: 0;
  }
}

.chat-container.closing {
  animation: slideOut 0.3s forwards; /* Анімація для виїзду чату */
}
