.intent-amount-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.intent-amount-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.intent-amount-button {
  border: 0;
  flex-grow: 1;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.intent-amount-button:hover {
  background-color: #2b2b2b;
}

.intent-amount-button:not(:last-child) {
  border-right: 1px solid #fff;
}

.intent-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mint-intent-button {
  width: 100%;
  padding: 10px;
  background-color: #933DC9;
  border-radius: 8px;
}

.mint-intent-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.mint-intent-description {
  margin-bottom: 10px;
}