.greth-info {
  width: 50%;
}

.greth-info-statistics {
  border: 1px solid #fff;
  border-radius: 8px;
}

.infographic {
	display: flex;
}

.chart {
  width: 50%;
}

.chart svg {
  width: 100%;
}

.greth-info-share {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.greth-info-share span {
  display: block;
  max-width: 100px;
  line-height: 150%;
}