.greth-burn {
  width: 100%;
  padding: 20px;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
}
    
.greth-burn-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.exchange-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group-w-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.submit-button {
  width: 100%;
  background-color: #933DC9;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}