.form {
  width: 50%;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 30px;
}

.form-group:not(:last-child) {
  margin-bottom: 15px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.form-label:not(:last-child) {
  margin-bottom: 15px;
}

.form-input {
  font-size: 20px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}

.form-input input {
  font-size: 20px;
  padding: 20px 15px;
  border: 0;
}

.max-button {
  font-size: 16px;
  background-color: #933DC9;
  padding: 20px 30px;
  border: 0;
  border-left: 1px solid #fff;
}

.greth-burn {
  width: 100%;
  padding: 20px;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
}
    
.greth-burn-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.exchange-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-group-w-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.submit-button {
  width: 100%;
  background-color: #933DC9;
  color: #fff;
  border: none;
  padding: 20px 15px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.submit-button:hover {
  /* background-color: #0056b3; */
}