.form {
  width: 50%;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 30px;
}

.form-group:not(:last-child) {
  margin-bottom: 15px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.form-label:not(:last-child) {
  margin-bottom: 15px;
}

.form-input {
  font-size: 20px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 8px;
}

.form-input input {
  font-size: 20px;
  padding: 20px 15px;
  border: 0;
}

.max-button {
  font-size: 16px;
  background-color: #933DC9;
  padding: 20px 30px;
  border: 0;
  border-left: 1px solid #fff;
}

.token-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.approve-button, .mint-button {
  width: 100%;
  background-color: #933DC9;
  padding: 20px 15px;
  border: 1px solid #933DC9;
  border-radius: 8px;
  margin-top: 30px;
}